<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns= "http://www.springframework.org/schema/beans"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc= "http://www.springframework.org/schema/mvc"
xmlns:context= "http://www.springframework.org/schema/context" xsi:schemaLocation= "
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd" >
 <context:component-scan base-package= "pl.microblog" />  <!-- Chcemy automatycznie obsługiwać wszystkie klasy z adnotacjami w tym pakiecie. UWAGA!!! każdy projekt może mieć oczyœiscie inna strukture pakietów -->
 <context:annotation-config />  <!-- To na przyszłość, pozwoli nam korzystać z adnotacji także w klasach, które byśmy skonfigurowali ręcznie -->

<bean id= "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource" >
<property name= "driverClassName"  value = "com.mysql.jdbc.Driver" /> <property name= "url"  value = "jdbc:hsqldb:hsql://localhost/testdb" /> <property name= "username"  value = "admin" />
<property name= "password"  value = "admin" />
</bean>
</beans>